{% extends "restaurant_app/base.html" %}
{% block title %} View the specific recipes {% endblock %}
{% block content %}

The challenge here is that I do not need all the RecipeReq elements. Or maybe I do. I just need to filter through them
and check which of them is associated with the menu item that you just clicked on.
But how do we reference or store the item that has just been clicked



<div class = "container">
    <br><br>
    <div class="row">
        {% for elem in recipe %}
        <div class="col-md-5">
            <br>
            <h3 class="card-title text-center ">{{ recipe.for_item }}</h3>
        </div>
        <div class="col-md-7 shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="my-3">Ingredients Required </h1>
            <p class = "lead">{{ recipe.ingredients_req }}</p>
            <h1 class="my-3">Recipe Instructions</h1>
            <p> {{ recipe.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
